.container {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: flex-start;

  & > * {
    flex: 1;
  }
}

.file-list {
  &_row {
    cursor: pointer;
    padding: 10px;
    background-color: gray;

    &_odd {
      background-color: lightgray;
    }
  }
}
