@use "colors" as colors;
@import "fonts";
@import "layout_styles";
@import "global_styles";

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 0;
  font-family: "MontserratRegular";
  font-size: 14px;
  color: colors.$text-color-primary;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
